

/* .admin-logo img{
    height: 42px;
    
    
}

.notify-bg{
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box; 
    background-color: #003466;
  background-image: url("../../resources/images/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  overflow-x: hidden;
  min-height: 100vh;

 } */


.users-table{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.each-user{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard{

    box-sizing: border-box;
    overflow-x: hidden;
   
}
.admin-menu-head{
  box-sizing: border-box;
    overflow-x: hidden;
}
.dashboard-menu {
  position:fixed; /* This makes it fixed to the viewport, so it scrolls with the page */
  z-index: 1;
  top: 0;
  
  
}



.send-money-send-btn{
  background-color: var(--global-color);
}
.user-menu{
  position: absolute;
  top: 0;
  margin-right: 0rem;
  right: 0;
  margin-top: 3rem;
  background-color: white;
  color: #6e6e6e;
  padding: 1rem 2rem;
  z-index: 99;

}
.activit1 span, .activit2 span, .activit3 span, .activit4 span {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.user-menu p{
  font-weight: 500;
  margin-top: .5rem;
  font-size: 14px;

}
.logout{
  color: red;
  display: flex;
  align-items: center;
  cursor: pointer;

}
.deposits-form{
  margin-top: 5rem;
}
.cancel-depo{
  margin: 1rem 0;
}
.notify .main-admin-dash{
    margin-top: 40rem;
}
.dashboard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--global-color);
    padding: 1rem 1rem;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 99;
    border-bottom: 1px solid white;
}
.admin .dashboard-header{
    background-color: #333;
}


.dashboard .rights-side{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.dashboard .rights-side p{
    font-weight: 700;
    text-transform: uppercase;
    
}
.dashboard .rights-side svg{
    margin-left: 1rem;
   
}
.left-side{
  position: relative;
  
}
.dashboard .left-side{
    cursor: pointer;
}
.dashboard-main-section{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 6rem;
}

.dashboard-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 1rem;
}
.card-body{
    margin-top: 1rem;
 width: 100%;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem 1.6rem;
        position: relative;
        display: flex;
        flex-direction: column;
       
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 0.25rem;
        border: none;
        -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
        box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);

}
.notify .loan-container {
    width: 100%;
     margin: 20px auto;
     padding: 20px;
     background-color: #f9f9f9;
     border-radius: 8px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   }
   .loan-table{
    
     overflow-x: scroll;
     
 }


 
   
   h2 {
     font-size: 24px;
     margin-bottom: 20px;
     text-align: left;
     color: #333;
   }
   

.card-body p{
    margin-top: 1rem;
    font-size: 16px;
}
/* .card-body span{
    margin-top: 1rem;
    font-weight: bold;
    font-size:15px;
    color: rgb(85, 85, 85);
} */
.balances{
    display: flex;
}
.balances .card-body{
    margin-right: 1rem;
}

.activities{
    display: flex;
    margin-top: 8rem;
}

.activities .card-body{
    margin-right: 1rem;
}

.activities .card-body h3{
    font-weight: 400;
    font-size:14px;
    margin-top: .2rem;
    cursor: pointer;
    
}

.activit1{
    background-color:#18A2B8;
    color: #fff;
}
.activit2{
    color: #fff;
    background-color: #DB3646;
}
.activit3{
    color: #fff;
    background-color: #29A746;
}
.activit4{
    color: #fff;
    background-color: #18A2B8;
}


  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
    color: #333;
  }
  
  
  
  .pay-button {
    background-color: var(--global-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .pay-button:hover {
    background-color: #056905;
  }
  
  .dashboard-navhead img{
    height: 50px;
    border-radius: 50px;
    background-color: #ebebeb;
    padding: .2rem;

  }
  .dashboard-navhead p{
    font-size: 15px;
    font-weight: 600;
  }
  .sidebar {
  margin-top: 3.7rem; /* Adjusts the top margin if needed */
  background-color: #f7f9fc;
  height: calc(100vh - 3.7rem);
  max-height: 200vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Allows internal scrolling if the content exceeds container height */
  width: 250px; /* Set a width if you haven't done so */

  }
 
  .sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  
  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .profile-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .sidebar-navigation {
    margin-top: 20px;
  }
  
  .sidebar-navigation ul {
    list-style-type: none;
    padding: 0;
   
  }
  .sidebar-dropdown{
    display: flex;
    flex-direction: column;
  }
  .nav-with-drop{
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: start;
    width: 100%;
  } 
  .nav-item{
    display: flex;
    align-items: center;
  }
  .nav-item svg:last-child{
    color: #6e6e6e;
    margin-left: .2rem;
    font-size: 12px;
  }
  .sidebar-dropdown{
    margin-left: 2rem;
    font-size: 12px;
    align-items: start;
    
  }
  .sidebar-dropdown span{
    margin-top: 1rem;
  }

  .sidebar-dropdown span:hover{
    color: red
  }
  .sidebar-navigation li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 14px;
    color: #6e6e6e;
    cursor: pointer;
    transition: all 0.3s;
    border-bottom: 1px solid rgba(128, 128, 128, 0.048);
    margin-top: 1rem;
    
  }
  .sidebar-navigation svg{
    margin-right: 1rem;
    color: #000;
  }
  
  .sidebar-navigation li p:hover {
    color: var(--global-color); /* Use your global color */
  }
  
  .sidebar-navigation i {
    margin-right: 10px;
    font-size: 20px;
  }
  .table-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  .table-head button{
    background-color: var(--global-color);
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    font-size: 13px;
    display: flex;
    align-items: center;
  }
  .table-head svg{
    vertical-align: center;
    padding: 2px;
    border-radius: 50px;
    background-color: white;
    color: black;
    margin-right: .5rem;
  }
  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
  }
  .dps{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
  }
  .dashboard button:hover{
    background-color: white;
    color: var(--global-color);
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--global-color);
    color: #fff;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 8px 8px 0 0;
  }
  .dps .card-body {
    margin-top: 1rem;
    width: 100%;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem .6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}
  
  .plan-name {
    font-weight: bold;
  }
  
  .plan-rate {
    font-size: 1.2rem;
  }
  .dps .card-body span {
    margin-top: 0;
  font-weight: 600;
    font-size: 14px;
    color: rgb(85, 85, 85);
    font-size: 13px;
}
  
  .card-body {
    margin-top: 20px;
  }
  
  .plan-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1rem;
    font-size: 13px;
  }
  
  .detail-value {
    font-weight: bold;
  }
  
  .check-icon {
    margin-right: 5px;
  }
  
  .card-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .apply-now-btn {
    background-color: var(--global-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .apply-now-btn:hover {
    background-color: #092b49;
  }
   /*........................ student details.................... */
.pprofiledetails{
  background-color: #fff;
  padding-bottom: 4rem;
  
}

.pprofiledetails h4{
  margin-bottom: 1rem;
  font-size: 20px;
  margin-top: 4rem;
  padding-left: 2rem;

}
.pddetails{
  background-color:#fff;
  display: flex;
  flex-direction: column;
   justify-content: start;
   font-family: var(--font-family);
   margin: 0 2rem;
}
.ppdetail{
display: flex;
margin: 1rem 0;
flex-direction: column;
background-color: #F6F6F6;
border-radius: 10px;
padding: 0.5rem 1rem;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  
}
.ppdetail p{
  margin-bottom: 0 !important;
  font-size:13px;
  color: #afafaf;
}
.ppdetail span{
  font-size: 15px;
}
.ppdprofile{
  position: relative;
  background-color: var(--global-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem 0;
}
.edit-profile{
  position: absolute;
 bottom: 0;
 margin-top: 20rem;
 cursor: pointer;

border-radius: 50px;
background-color: var(--global-color);
height: 30px;
width: 30px;
font-size: 15px;
color: white;
display: flex;
justify-content: center;
align-items: center;


}


.ppdprofile img{
  
  height: 150px;
  width:150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: -9.5rem;
 

}
.send-money-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    width: 100%;
    font-size: 14px;
}
.send-money-form h2{
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.178);
    font-weight: 400;
    
}

.send-money-form{
    padding: 2rem 1rem;
    height:fit-content;

    width: 80%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    background-color: rgb(252, 252, 252);
}
.send-money-grid{
    display: flex;
}
.send-money-grid .send-money-form-group:first-child{

    margin-right: 1rem;
    
}
.image-profile{
    display: none;
}
methods{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns */
    gap: 20px; /* space between grid items */
    font-size: 10px !important;
}

.methods img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
   
    object-fit: cover;
   
}
.methods .card-body span{
    font-size: 13px;
    font-weight: 500;
}
 
.methods .card-body button{
    margin-top: 1rem;
    background-color: var(--global-color);
}

.send-money-form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.send-money-form-group span{
    color: red;
}

.send-money-form-group textarea::placeholder{
    font-size: 13px;
}
.send-money-transaction-fee{
    font-size: 13px;
    color: var(--global-color);
}

.send-money-form-group textarea{
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
}
.send-money-container button{
  margin-top: 2rem;
  width: 100%;
  background-color: var(--global-color);
  font-size: 15px;
}

.send-money-form-group{
    font-size: 13px;
    color: grey;
}
.send-money-form-group input::placeholder{
    font-size: 13px;
}
.send-money-form-group select{
    font-size: 13px;
}

.send-money-form-group input:focus{
    outline: none; /* Removes the default outline */
    border-color: #555555; /* Changes the border color */

 

}
.auto-depo h2{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}
/* .action-tb{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.auto-depo p{
    font-size: 15px;
    font-weight: 400;
}
.cancel-depo{
    display: flex;
    align-items: end;
    justify-content: end;
    padding: .3rem 1rem;
    font-size: 20px;
    color: white;
    cursor: pointer;

}

.deposits-form{
    margin-bottom: 2rem;
    position:fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.336);
    height: 100vh !important; 
    overflow-y: auto;
}

.dropzone {
    border: 2px dashed #007bff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.2s ease-in-out;
  }
  
  .dropzone-active {
    background-color: #e0f7fa;
  }
  .left-side svg{
    cursor: pointer;

  }
  button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 18px 35px;

    transition: all 500ms ease;
    cursor: pointer;
    border: none;
}

.dashboard input[type=date], .dashboard input[type=email], .dashboard input[type=number], .dashboard input[type=password], .dashboard input[type=text], .dashboard select {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 1rem;
    padding: .8rem;
    width: 100%;
}
.dashboard-main-section button{
    background-color: #092b49;
}
@media screen and (max-width:768px){
    .send-money-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100VH;
        width: 100%;
        font-size: 13px;
    }

    .send-money-form {

        width: 98%;
  
    }
    .send-money-grid {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .send-money-form-group {
        font-size: 13px;
        color: grey;
    }
}
  @media only screen and (min-width: 600px) and (max-width: 900px) {

    

    .dps{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
 
    
  }
  

  @media screen and (max-width:768px){
  
    .activities {
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    
    .dashboard-main {
       margin: 0;
    }
    .balances .card-body {
        margin-right: .5rem;
    }
    .card-body p {
        margin-top: .5rem;
        font-size: 14px;
    }
    /* .card-body span {
        margin-top: .5rem;
        font-weight: bold;
        font-size: 13px;
    } */

    .card-body { 
        padding: 1rem .5rem;   
    }
    .activities .card-body {
        width: 90%;
        margin: .5rem 0;
       
    }
    
    .dps{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
 
    h2 {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: left;
        color: #333;
    }
    .pay-button {
        background-color: var(--global-color);
        color: #fff;
        border: none;
        padding: 4px 8px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 10px;
        line-height: 15px;
        transition: background-color 0.3s ease;
    }
    .dashboard-main-section {
      
        align-items: start;
    }

 

  .sidebar {

    height: 100vh;
    background-color: #f7f9fc;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}





 
}
.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-27 8:18:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }